<div fxLayout="row" fxLayout.xs="column-reverse" fxLayoutAlign="center" fxLayoutAlign.xs="space-around start" fxFlexFill fxLayoutGap="25px">
  <div fxFlex="30" fxFlex.xs="auto">
    <form (ngSubmit)="onSubmit();" [formGroup]="userForm" fxLayout="column">
      <mat-form-field>
        <mat-label>
          ID:
        </mat-label>
        <input type="text" formControlName="id" matInput>
      </mat-form-field>
      <mat-form-field>
        <mat-label>
          Name:
        </mat-label>
        <input type="text" id="name" formControlName="name" matInput>
      </mat-form-field>
      <mat-form-field>
        <mat-label>
          Lastname:
        </mat-label>
        <input type="text" id="lastname" formControlName="lastname" matInput>
      </mat-form-field>

      <mat-form-field>
        <mat-label>
          Type:
        </mat-label>
        <mat-select formControlName="type">
          <ng-container *ngFor="let tp of types">
            <mat-option [value]="tp">{{tp}}</mat-option>
          </ng-container>
        </mat-select>
      </mat-form-field>

      <label fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="space-between" fxLayout.xs="column" fxLayoutGap.xs="1px">

      </label>

      <mat-form-field>
        <mat-label>
          Email:
        </mat-label>
        <input type="email" formControlName="email" matInput>
      </mat-form-field>


      <mat-form-field>
        <mat-label>
          Password:
        </mat-label>
        <input type="password" formControlName="password" matInput>
      </mat-form-field>

      <ng-container *ngIf="userForm.controls['id'].value == null">
        <mat-form-field>
          <mat-label>
            Confirm password:
          </mat-label>
          <input type="password" formControlName="confirmPassword" matInput>
        </mat-form-field>
      </ng-container>

      <ng-container formArrayName="subjects" fxLayout="column">
        <mat-form-field *ngFor="let subject of subjects.controls; let i = index">
          <mat-label>
            Subject-{{i}}
          </mat-label>
          <input type="text" formControlName="{{i}}" matInput>
        </mat-form-field>
      </ng-container>
      <button (click)="addSubject()" type="button"
              mat-raised-button fxFlexAlign="center"
              style="margin-bottom: 15px">add subject</button>

      <mat-form-field>
        <mat-label>
          Description:
        </mat-label>
        <textarea formControlName="description" matInput></textarea>
      </mat-form-field>

      <mat-checkbox name="sex" formControlName="sex">Male</mat-checkbox>

      <mat-form-field>
        <mat-label>
          Phone:
        </mat-label>
        <input type="text" name="tel" formControlName="phone" matInput>
      </mat-form-field>
      <div fxLayout="row" fxLayoutAlign="space-around">
        <button type="button" (click)="resetForm()" mat-raised-button >Reset</button>
        <button mat-raised-button color="primary" fxFlexAlign="center"
                [disabled]="userForm.invalid"
                type="submit">Save</button>
      </div>

    </form>
  </div>
  <div class="list-block">
    <p>List of users:</p>
    <mat-list class="user-list">
      <ng-container *ngFor="let user of savedUsers" class="user-list">
        <mat-list-item (click)="setUserToEdit(user.id)">{{user.name}} {{user.lastname}}</mat-list-item>
      </ng-container>
    </mat-list>
    <button type="button" routerLink="/home" mat-raised-button>home</button>
  </div>
</div>


