:host{
  margin: 0 5px;
}

.users{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 0 0 5px;
}
ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

ul li a {
  display: inline-flex;
  /* color: white; */
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
  float: left;
  color: white;
  font-size: 20px;

}

li.active {
  background-color: #04AA6D;
  color: white;
  border-radius: 5px;
}
