:host{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container{


  ul{
    padding: 0;
    li{
      list-style: none;
    }
  }
  button{
    a{
      text-decoration: none;
      color: black;
    }
    &:hover{
      a{color: white;}
    }
  }

}

